body {
    padding: 1em;
}
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 16%);
    padding-left: 30px; 
    padding-right: 30px;
    font-family: Graphik,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 20px;
 }

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header li {
    margin-left: 24px;
}

button {
    background-color: hsl(40, 20%, 97%);
    border: none;
    padding: 16px;
    font-weight: 700;
    border-radius: 3px;
    
}
 
:any-link:hover {
    color:  hsl(40, 20%, 97%);
  }

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    color:hsl(0, 0%, 65%);
}
h1{
    color:hsl(40, 20%, 97%) ;

}

main{
    display: grid; grid-template-columns: 640px 640px; grid-template-rows:3;
    background-color: hsl(40, 20%, 97%); height: 500px;
    color:  hsl(156, 45%, 22%) ;
    padding-bottom: 200px;
    padding-left: 50px;
    width: 100%;
   
    
    
}

.company {
    grid-column: 1 / 2;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-flow: column;
    
  
   

    
    
}

.customerphoto{
    grid-column: 2/3; 
    grid-row: 1/2;
    justify-content: center;
    display: flex;
    margin: 50px;
}


p{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    background-color:hsl(156, 45%, 22%) ;
    color: hsl(40, 20%, 97%) ;
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

footer {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    background-color: hsl(0, 0%, 16%);
    color: hsl(40, 20%, 97%) ;font-family: Graphik,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.photo-text{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}



.copyright {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    padding-left: 2em;
    padding-bottom: 1em;
}

.social-media{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
     
}

.product{
    grid-column: 1/2;
    grid-row: 1/2;
}
.community{
    grid-column: 2/3;
    grid-row: 1/2;
}
.company-menu{
    grid-column: 3/4;
    grid-row: 1/2;
}
.register{
    grid-column: 4/5;
    grid-row: 1/2;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;


    
}

footer ul li{
    list-style: none;
}





    main, p {
   
        font-family: Graphik,Helvetica Neue,sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -.16px;
        font-size: 1.6rem;
        line-height: 2.2rem;
        width: 100%;
     
    
}
.locationphoto img {
    width: 25%; 
}
 