body {
    padding: 1em;
    max-width: 100%;
    
    
}
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 16%);
    padding-left: 30px; 
    padding-right: 30px;
    font-family: Graphik,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 20px;
   
 }
 @media (max-width:800px){
     header {
         display:flex;
         flex-flow: column;
         padding-bottom: 50px;
    }
 }


header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}
@media (max-width:800px){
    header ul   {
        display:flex;
        flex-flow: column nowrap;
   }
}

header li {
    margin-left: 24px;
}

button {
    background-color: hsl(40, 20%, 97%);
    border: none;
    padding: 16px;
    font-weight: 700;
    border-radius: 3px;
    
}
 
:any-link:hover {
    color:  hsl(40, 20%, 97%);
  }

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    color:hsl(0, 0%, 65%);
}
h1{
    color:hsl(40, 20%, 97%) ;

}

main{
    display: grid; grid-template-columns: 2; grid-template-rows:3;
    background-color: hsl(40, 20%, 97%); height: 500px;
    color:  hsl(156, 45%, 22%) ;
    padding-bottom: 200px;
    padding-left: 50px;
    max-width: fit-content;
     
    
}

.company {
    grid-column: 1 / 2;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-flow: column;
 }

 @media (max-width:800px){
    .company{
        display: block;
        align-items: center;
        text-align: center;
   }
}

.customerphoto{
    grid-column: 2/3; 
    grid-row: 1/2;
    justify-content: center;
    display: flex;
    margin: 50px;
}
@media (max-width:800px){
    .customerphoto{
        display: block;
        align-items: center;
        text-align: center;
   }
}


p{
     
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    background-color:hsl(156, 45%, 22%) ;
    color: hsl(40, 20%, 97%) ;
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    
    
}
@media (max-width:800px){
    p{
        display: block;
        align-items: center;
        text-align: center;
   }
}

footer {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    background-color: hsl(0, 0%, 16%);
    color: hsl(40, 20%, 97%) ;font-family: Graphik,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 20px;
}
@media (max-width:800px){
    footer {
        display:flex;
        flex-flow: column;
   }
}

.photo-text{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}




.copyright {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    padding-left: 2em;
    padding-bottom: 1em;
}

.social-media{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
     
}
@media (max-width:800px){
    .social-media {
        display:flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        justify-content: center;
   }
}
.product{
    grid-column: 1/2;
    grid-row: 1/2;
}
.community{
    grid-column: 2/3;
    grid-row: 1/2;
}
.company-menu{
    grid-column: 3/4;
    grid-row: 1/2;
}
.register{
    grid-column: 4/5;
    grid-row: 1/2;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:800px){
    .bottom-menu {
        display:flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        justify-content: center;
   }
}

footer ul li{
    list-style: none;
}





    main, p {
   
        font-family: Graphik,Helvetica Neue,sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -.16px;
        font-size: 1.6rem;
        line-height: 2.2rem;
        width: 100%;
     
    
}
@media (max-width:800px){
    main, p {
        display:block;
        flex-flow: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: small;
   }
}
.locationphoto img {
    width: 25%; 
}
@media (max-width:800px){
    .locationphoto img {
        width: 25%;
   }
}
@media (max-width:800px){
    .success{
        display: block;
        text-align: left;
        padding-top: 50%;
   }
}
