header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 16%);
    padding-left: 30px; 
    padding-right: 30px;
}
header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header li {
    margin-left: 24px;
}

button {
    background-color: hsl(40, 20%, 97%);
    border: none;
    padding: 16px;
    font-weight: 700;
    border-radius: 3px;
    
}
 
:any-link:hover {
    color:  hsl(40, 20%, 97%);
  }

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    color:hsl(0, 0%, 65%);
}
h1{
    color:hsl(40, 20%, 97%) ;

}

main{
    display: grid; grid-template-columns: auto auto auto; grid-template-rows: auto auto;
    background-color: hsl(158, 45%, 22%); height: 500px;
    color:  hsl(40, 20%, 97%);
}

.company {
    grid-column: 1 / 2;
    grid-row: 1/2;
    padding: 150px;
    text-align: center;
}

.customerimage{
    grid-column: 2/3; 
    grid-row: 1/2;
    align-items: center;
}

img {
   max-width: 100%; padding-top: 50px;
    
}

